.skills{
  /* border: 1px solid blue; */
  width: calc(100vw - 120px);
  /* height: calc(100vh - 100px); */
  position: relative;
  top: 70px;
  left: 60px;
  right: 60px;
}

.dummy{
  width: 100vw;
  height: 0;
}

.skillSection{
  /* border: 1px solid; */
  width: 100%;
  height: auto;
  padding: 40px 10%;
  /* background-color: var(---s); */
}

.header{
  width: 100%;
  margin-bottom: 70px;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 15px;
}

.heading{
  /* border: 1px solid blue; */
  font-size: 9vmin;
  text-align: center;
  font-family: "Rubik Mono One", monospace;
  /* height: 100px; */
  color: var(--shade-dark);
}

.header p{
  /* color: var(--shade-dark); */
  font-size: 1.2rem;
}

.skillMain{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
}

.skillMain .skillBar .info{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.skillBar .info .logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.skillBar .info .skillName, .skillBar .info .percent{
  font-weight: bold;
  color: var(--shade-dark);
}

.skillBar .bar{
  width: 100%;
  height: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 5px;
}

.skillBar .bar span{
  /* width: 50%; */
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, var(--shade-dark), var(--shade-medium), var(--shade-light-medium));
  border-radius: 25px;
}

.skillLogo{
  width: 40px;
}

@media screen and (max-width: 768px) {
  .skillMain{
    grid-template-columns: repeat(1, 1fr);
  }

  .header p{
    font-size: 1rem;
  }

  .skillLogo{
    width: 30px;
  }
}