.home{
  width: calc(100vw - 120px);
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  left:60px;
  right: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.socialLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60px;
  position: fixed;
  right: 0;
}

.socialLinks a img{
  width: 35px;
  transition: all 0.25s ease-in;
}

.socialLinks a img:hover{
  transform: scale(1.1);
}

.photo{
  width: 60vmin;
}

.photo img{
  width: 100%;
}

.dummy{
  width: 100vw;
  height: 0;
}

.info{
  padding: 10px;
  line-height: 50px;
}

.name{
  font-size:2.5rem;
  font-weight: 500;
  color: var(--shade-medium);
}

.name span{
  font-weight: bold;
  color: var(--shade-dark);
}

.typewriter{
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  color: var(--shade-medium);
}

.tagline{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.button{
  background-color: var(--shade-medium);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--shade-dark);
}

@media screen and (max-width: 992px) {
  .info{
    line-height: 6vmin;
    flex: 2;
  }

  .name{
    font-size: 5vmin;
  }

  .typewriter{
    font-size: 4vmin;
  }

  .tagline{
    font-size: 3vmin;
  }

  .button {
    font-size: 3vmin;
    padding: 10px;
  }

  .photo{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .home{
    flex-direction: column-reverse;
    height: max-content;
    width: calc(100vw - 60px);
    left: 30px;
  }

  .photo{
    width: 60%;
  }

  .info{
    width: 85%;
    line-height: 6vmin;
  }

  .name{
    font-size: 5vmin;
  }

  .typewriter{
    font-size: 4vmin;
  }

  .tagline{
    font-size: 3.5vmin;
  }

  .button {
    font-size: 3.5vmin;
    padding: 10px;
  }

  .socialLinks{
    display: none;
  }
}