.contact{
  /* border: 1px solid blue; */
  width: calc(100vw - 120px);
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  left: 60px;
  right: 60px;
  background-color: var(--shade-dark);
  border-radius: 10px;
}

.dummy{
  width: 100vw;
  height: 0;
}