.contact {
  width: calc(100vw - 120px);
  position: relative;
  top: 70px;
  left: 60px;
  right: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 5%;
}

.dummy {
  width: 100vw;
  height: 0;
}

.heading {
  display: none;
  padding-top: 1rem;
}

.left {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 100%;
}

.right {
  width: 55%;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  color: var(--shade-medium);
  font-size: 0.9rem;
  font-weight: bold;
}

.form input,
.form textarea {
  font-size: 1.1rem;
  padding: 5px 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid var(--shade-medium);
  background: transparent;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.form textarea {
  resize: vertical;
  font-family: 'Inter', sans-serif;
}

.form textarea::placeholder {
  color: #888888;
  font-size: 0.8rem;
}

.button {
  width: max-content;
  background-color: var(--shade-medium);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .contact {
    padding: 2rem 3%;
    gap: 2rem;
  }

  .left img {
    width: 110%;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 1rem 0;
    flex-direction: column;
    width: calc(100vw - 60px);
    left: 30px;
  }

  .left {
    display: none;
  }

  .right {
    width: 85%;
  }

  .heading {
    display: flex;
    font-size: 9vmin;
    text-align: center;
    font-family: 'Rubik Mono One', monospace;
    color: var(--shade-dark);
  }
}
