.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  font-weight: 500;
  background-color: var(--navbar);
}

.navbar .dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: var(--shade-dark);
}

.navlinks .links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.links li a {
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 7px;
  border-radius: 3px;
  color: var(--shade-dark);
}

.links li a:hover {
  background-color: var(--shade-dark);
  color: white;
}

.contactme {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  background-color: var(--shade-dark);
}

.contactme a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--shade-light);
}

.bars,
.cross {
  display: none;
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: var(--navbar);
  width: 100%;
  transition: right 0.4s ease, width 0.4s ease;
  z-index: 999;
}

@media screen and (max-width: 992px) {
  .navbar {
    justify-content: center;
    gap: 20px;
  }

  .navlinks .links {
    gap: 30px;
  }

  .dp {
    display: none;
  }

  .links li {
    font-size: 2vmax;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .bars,
  .cross {
    position: fixed;
    right: 20px;
    top: 20px;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--navbar);
  }

  .cross {
    background-color: var(--shade-dark);
  }

  .cross i {
    filter: invert(1);
  }

  .navlinks {
    display: none;
  }

  .links li a:hover {
    background-color: var(--shade-dark);
    color: var(--shade-light);
  }

  .menu {
    right: 0;
  }

  .menu ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .menu ul li {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .menu ul li a:hover {
    background-color: var(--shade-dark);
  }
}
