.footer{
  position: relative;
  top: 70px;
  font-size: 1.1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socialLinks{
  display: none;
}

.socialLinks a img{
  width: 35px;
  transition: all 0.25s ease-in;
}

.socialLinks a img:hover{
  transform: scale(1.1);
}

@media screen and (max-width:768px) {
  .footer{
    font-size: 1rem;
  }

  .socialLinks{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}