@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Rubik+Mono+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #C8FACD;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}
/* font-family: "Fira Code", monospace; */
/* font-family: "Rubik Mono One", monospace; */